html,
body,
.training {
    height: 100%;
}

.training {
    display: flex;
    align-items: center;
}

.wait-for-user,
.current-combo {
    font-size: 80pt;
    margin: auto;
    text-align: center;
}

.btn {
    background: white;
    border: black solid;
    border-radius: 5px;
    padding: 20pt;
    font-size: 45pt;
}
